@charset "UTF-8";

@font-face {
  font-family: "AvenirLTStd Medium";
  font-weight: normal;
  src: local("☺"), url(//t1.daumcdn.net/tistory_admin/static/font/AvenirLTStd/AvenirLTStd-Medium.woff) format("woff");
}

.tt-comment-cont * {
  box-sizing: border-box;
  line-height: inherit;
}

.tt_img_area_reply {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  color: transparent;
  background-image: url(https://t1.daumcdn.net/tistory_admin/static/mobile/tt_img_area_reply.svg);
  background-size: 120px 60px;
  background-repeat: no-repeat;
}

.tt_ico_check {
  width: 15px;
  height: 13px;
  margin: 0 auto;
  background-position: -11px -40px;
}

.tt_ico_profile {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 auto;
  background-position: -66px -40px;
}

.tt_ico_plus {
  width: 20px;
  height: 20px;
  background-position: 0 0;
}

.tt_ico_plus.tt_open_sns {
  background-position: 0 -20px;
}

.tt_ico_tistoy {
  width: 20px;
  height: 20px;
  background-position: -20px 0;
}

.tt_ico_brunch {
  width: 20px;
  height: 20px;
  background-position: -40px 0;
}

.tt_ico_kas {
  width: 20px;
  height: 20px;
  background-position: -60px 0;
}

.tt_ico_fb {
  width: 20px;
  height: 20px;
  background-position: -100px -20px;
}

.tt_ico_tw {
  width: 20px;
  height: 20px;
  background-position: -80px -20px;
}

.tt_ico_yt {
  width: 20px;
  height: 20px;
  background-position: -20px -20px;
}

.tt_ico_itg {
  width: 20px;
  height: 20px;
  background-position: -40px -20px;
}

.tt_ico_hmg {
  width: 20px;
  height: 20px;
  background-position: -60px -20px;
}

.tt_ico_fixed {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 3px;
  background-position: 0 -40px;
}

.tt_ico_lock {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: -26px -40px;
  vertical-align: middle;
}

.tt_ico_check1 {
  display: block;
  width: 10px;
  height: 9px;
  background-position: -80px -40px;
}

.tt-xe-input-helper {
  width: 20px;
  height: 20px;
  background-position: -46px -40px;
}

.tt-button-modify {
  width: 20px;
  height: 20px;
  background-position: -90px -40px;
}

.tt-area-reply {
  margin-bottom: 30px;
  font-family: 'Noto Sans Regular', Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', Helvetica, sans-serif;
}

.tt-box-total {
  padding-bottom: 12px;
  border-bottom: 1px solid #e9e9e9;
}

.tt-box-total a {
  font-size: 0;
  color: #222;
  vertical-align: middle;
}

.tt-box-total .tt_txt_g {
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Noto Sans Medium', Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', Helvetica, sans-serif;
}

.tt-box-total .tt_num_g {
  padding-left: 4px;
  font-size: 15px;
  line-height: 1.5;
  font-family: 'AvenirLTStd Medium', sans-serif;
  text-decoration: none;
}

.tt-list-reply {
  padding-left: 0;
  list-style-type: none;
  border-bottom: 1px solid #f5f5f5;
}

.tt-list-reply li:first-child {
  border-top: none;
}

.tt-list-reply-comment .tt-item-reply {
  padding-left: 60px;
}

.tt-list-reply-comment .tt-item-reply:before {
  content: '';
  position: absolute;
  top: 32px;
  left: 38px;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}

.tt-item-reply {
  position: relative;
  width: 100%;
  padding: 20px 0 19px 0;
  border-top: 1px solid #f5f5f5;
}

.tt-item-reply .tt_cmt_info {
  display: flex;
  margin: -1px 0 12px;
  align-items: center;
  font-family: 'no';
}

.tt-item-reply .tt_cmt_info .tt_ico_fixed {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 3px;
  margin-bottom: 2px;
  background-position: 0 -40px;
}

.tt-item-reply .tt_cmt_info .tt_txt_g {
  font-size: 12px;
  line-height: 1.5;
  color: #777;
}

.tt-item-reply .tt-list-reply-comment {
  width: 100%;
  margin: 20px 0 0 0;
  border-top: 1px solid #f0f0f0;
  padding-left: 0;
  list-style-type: none;
}

.tt_btn_prev_more {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 43px;
  color: #777;
  border: 0;
  background-color: #fff;
  border-top: 1px solid #f5f5f5;
  text-align: center;
  cursor: pointer;
}

.tt-box-thumb {
  margin-right: 16px;
}

.tt-thumbnail {
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50px;
}

.tt-thumbnail:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  box-sizing: inherit;
}

.tt-wrap-cmt {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tt-wrap-cmt .tt-box-content {
  width: calc(100% - 60px);
}

.tt-wrap-cmt .tt-box-meta {
  display: flex;
  margin-bottom: 3px;
  align-items: center;
}

.tt-wrap-cmt .tt-link-user {
  font-size: 15px;
  line-height: 1.5;
  color: #222;
  font-family: 'Noto Sans Medium', Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', Helvetica, sans-serif;
  text-decoration: none;
}

.tt-wrap-cmt .tt_desc {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  color: #222;
  vertical-align: middle;
  word-break: break-all;
}

.tt-wrap-cmt .tt-wrap-desc .tt_emph {
  color: #FF5A4A;
}

.tt-txt-mention {
  position: relative;
  color: #222;
  padding: 0 3px;
  margin-right: 3px;
  font-style: normal;
  font-family: 'Noto Sans Medium', Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', Helvetica, sans-serif;
  user-select: none;
  background-color: #eee;
  border-radius: 2px;
}

.tt-txt-mention:before {
  content: '';
  position: absolute;
  top: 52%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 21px;
  background-color: #eee;
  z-index: -1;
  border-radius: 2px;
}

.tt-wrap-cmt .tt_date {
  display: inline-block;
  padding-top: 15px;
  font-size: 12px;
  line-height: 1.5;
  color: #888;
  vertical-align: middle;
  font-family: 'Avenir Next Regular', sans-serif;
}

.tt-wrap-cmt .tt-wrap-link-comment {
  display: inline-block;
  position: relative;
  padding-left: 14px;
  vertical-align: middle;
  line-height: 1.5;
}

.tt-wrap-cmt .tt-link-comment {
  display: block;
  font-size: 0;
  color: #909090;
  text-decoration: none;
}

.tt-wrap-info .tt_date+.tt-wrap-link-comment:before {
  content: '';
  display: block;
  position: absolute;
  top: 21px;
  left: 6px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #d8d8d8;
}

.tt-link-comment .tt_txt_g {
  display: inline-block;
  padding-top: 12px;
  font-size: 13px;
  line-height: 1.5;
  color: #777;
  font-family: 'Noto Sans Medium', Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', Helvetica, sans-serif;
}

.tt-link-comment .tt_num_g {
  padding-left: 4px;
  font-size: 13px;
  line-height: 1.2;
  color: #777;
  font-family: 'AvenirLTStd Medium', sans-serif;
}

.tt-wrap-cmt .tt-box-modify {
  position: absolute;
  top: 22px;
  right: 0;
}

.tt-wrap-cmt .tt-button-modify {
  display: block;
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
}

.tt-wrap-cmt .tt-button-modify:hover, .tt-wrap-cmt .tt-box-modify.tt-box-modify-open .tt-button-modify {
  background-color: #f5f5f5;
}

.tt-box-tooltip {
  position: absolute;
  top: 24px;
  right: 0;
  display: flex;
  width: 160px;
  height: 40px;
  padding: 0 21px 3px;
  border-radius: 8px;
  background-color: #000;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
}

.tt-show-box-tooltip {
  animation: fadeInOut forwards 3s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.tt-box-modify .tt-box-tooltip .tt_txt_g {
  font-size: 13px;
  line-height: 1.5;
  color: #fff;
}

.tt-box-modify .tt_ico_check1 {
  margin-right: 5px;
}

.tt-wrap-info {
  display: flex;
  align-items: center;
}

.tt_cmt_profile {
  display: inline-block;
  position: relative;
}

.tt_btn_profile {
  width: 18px;
  height: 18px;
  padding: 1px 3px;
  border: none;
  background-color: transparent;
  vertical-align: top;
  cursor: pointer;
}

.tt_sns_layer_wrap { 
  position: absolute; 
  left: 17px;
  top: -11px;
  padding-left: 2px 
}

.tt_sns_layer {
  display: flex;
  position: relative;
  height: 44px;
  padding: 0 10px;
  border-radius: 25px;
  box-shadow: 0px 0px 1px rgb(0 0 0 / 30%), 0px 2px 6px rgb(0 0 0 / 12%);
  background-color: #fff;
  align-items: center;
}

.tt_sns_layer .tt_ico_plus {
  margin-right: 12px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.tt_sns_layer .tt_sns_bar {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #f2f2f2;
  font-size: 0;
  line-height: 0;
}

.tt_sns_layer a {
  margin: 0 6px;
}

.tt-wrap-cmt .tt-list-modify {
  display: none;
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 2px;
  width: 90px;
  padding: 8px 0;
  background: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  list-style-type: none;
}

.tt-box-modify-open .tt-list-modify {
  display: block;
}

.tt-wrap-cmt .tt-list-modify a {
  display: block;
  padding: 0 20px;
  font-size: 13px;
  line-height: 32px;
  color: #222;
  letter-spacing: -0.4px;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
}

.tt-wrap-cmt .tt-list-modify a:hover {
  background-color: #f5f5f5;
}

.tt-wrap-cmt .tt-list-modify .tt-button-modify:hover {
  background-color: #F5F5F5;
}

.tt-wrap-cmt .tt_box_pwd {
  display: none;
  position: absolute;
  z-index: 1;
  top: 44px;
  right: 2px;
  width: 280px;
  height: 80px;
  background: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 20px;
}

.tt_form_pwd {
  font-size: 0;
}
.tt_form_pwd fieldset {
  padding: 0;
}
#tt-body-guestbook .tt_box_pwd .tt_form_pwd {
  padding-top: 0;
}

.tt_form_pwd fieldset {
  overflow: hidden;
  margin: 0;
  border: none;
}

.tt_form_pwd .tt_inp_g {
  float: left;
  width: 200px;
  height: 40px;
  padding: 10px 12px 11px;
  border: 1px solid #d8d8d8;
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: 13px;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
}
.tt_form_pwd .tt_inp_g:focus {
  border: 1px solid #000000;
}

.tt_form_pwd .tt_inp_g::placeholder {
  color: #b1b1b1;
}

.tt_form_pwd .tt_btn_submit {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #000;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.tt_form_pwd .tt_btn_submit[disabled] {
  background-color: #d9d9d9
}

.tt-area-write {
  display: flex;
  flex-wrap: nowrap;
}

.tt_wrap_write {
  flex-grow: 1;
}

.tt-area-write .tt-box-account {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tt-area-write .tt-box-account input {
  width: calc(50% - 4px);
  padding: 12px 15px 13px;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  color: #222;
  border-radius: 2px;
}
.tt-area-write .tt-box-account input.tt-inp-nickname {
  width: 100%;
}

.tt-area-write .tt-box-account input::placeholder {
  color: #b1b1b1;
}

.tt-area-write .tt-box-account input:hover {
  border-color: #bebebe;
}

.tt-area-write .tt-box-account input:focus {
  border-color: #666;
}

.tt-box-textarea {
  margin-bottom: 12px;
}

.tt-box-textarea .tt-inner-g {
  overflow-y: auto;
  width: 100%;
  min-height: 110px;
  max-height: 400px;
  padding: 11px 15px 11px;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
}

.tt-box-textarea:hover .tt-inner-g {
  border-color: #bebebe;
}

.tt-box-textarea.tt-input-textarea .tt-inner-g {
  border-color: #666;
}

.tt-box-textarea .tt_txt_user {
  display: block;
  margin-top: -1px;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Noto Sans Medium', Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', Helvetica, sans-serif;
}

.tt-box-textarea textarea,
.tt-box-textarea div {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #222;
  border: none;
  resize: none;
}

.tt-box-textarea textarea::placeholder,
.tt-box-textarea div::placeholder {
  color: #B1B1B1;
}

.tt-box-write {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tt-box-write .tt-xe-label {
  display: flex;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  margin-left: auto;
  margin-top: -2px;
  text-align: left;
  cursor: pointer;
  align-items: center;
}

.tt-box-write .tt-xe-label input[type='checkbox'] {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
  -webkit-appearance: none;
}

.tt-box-write .tt-xe-input-helper {
  display: block;
  position: relative;
  margin-right: 16px;
}

.tt-box-write input[type='checkbox']:checked+.tt-xe-input-helper {
  background-position: -26px -40px;
}

.tt-box-write .tt-xe-label-text {
  display: block;
  font-size: 0;
}

.tt-btn-cancel {
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #949494;
  width: auto;
  min-width: 46px;
  height: 42px;
  cursor: pointer;
  padding: 0 10px;
  margin-right: 10px;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tt-btn_register {
  width: 68px;
  height: 30px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tt-btn_register:hover {
  background-color: #FF5A4A;
  border: 1px solid #FF5A4A;
}

.tt-btn_register:focus {
  background-color: #E44839;
  border: 1px solid #E44839;
}

.tt-btn_register:disabled {
  background-color: #E5E5E5;
  border: 1px solid #E5E5E5;
  cursor: not-allowed;
}

.tt_desc_more {
  display: inline-block;
  padding-left: 3px;
  color: #222;
  font-family: 'Noto Sans Medium', Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', Helvetica, sans-serif;
}

.tt_item_modify .tt_desc,
.tt_item_modify .tt_desc_more,
.tt_item_secret > .tt-wrap-cmt .tt_desc {
  color: #949494;
}

/* 신고하기 레이어 */
.layer_absereport {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.layer_absereport:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 90%);
}

.layer_absereport .inner_g {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 560px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
}

#abuseReportForm {
  width: 480px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#abuseReportForm .base {
  width: 100%;
}

#abuseReportForm .transparent-box {
  font: normal 12px gulim, "굴림", sans-serif;
  color: #666;
  height: 17px;
  padding: 3px 0 0 0;
  border: 1px solid #fff;
  width: 243px;
}

#abuseReportForm .singo {
  width: 243px;
}

#abuseReportForm .tip {
  width: 409px;
  margin: 0;
  padding: 20px 0 0;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: -0.4px;
  color: #979797;
}

#abuseReportForm .tip a {
  display: block;
}

#abuseReportForm .tip a .txt_g {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: -0.4px;
  color: #979797
}

#abuseReportForm .tip a .txt_g:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #979797
}

#abuseReportForm .tip a .txt_g:after {
  content: '';
  position: absolute;
  top: 8px;
  right: -6px;
  width: 2.5px;
  height: 2.5px;
  background-color: transparent;
  border-top: 1px solid #979797;
  border-right: 1px solid #979797;
  transform: rotate(45deg);
}

#abuseReportForm #reasonMention {
  width: 400px;
  height: 120px;
  margin-top: 20px;
  padding: 14px 16px;
  border: 1px solid #d8d8d8;
  background: #fff;
  box-sizing: border-box;
}

#abuseReportForm ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  letter-spacing: -1px;
  letter-spacing: -1px;
}

#abuseReportForm li {
  width: 50%;
  float: left;
  padding-top: 12px;
  letter-spacing: -1px;
}

#abuseReportForm .popContent {
  padding: 34px 38px 0 39px
}

#abuseReportForm h3 {
  margin: 0 0 10px 0;
  font: bold 13px dotum, Verdana;
  letter-spacing: -0.1em;
}

.popTitle2 {
  display: block;
  padding: 38px 40px 0;
  font-size: 28px;
  line-height: 24px;
  color: #222;
}

.item_radio {
  display: block;
  position: relative;
}

.item_radio .inp_radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: 0;
  -webkit-appearance: none;
  background: none;
  cursor: pointer
}

.item_radio .lab_radio {
  display: block;
  position: relative;
  padding-left: 28px;
  font-size: 14px;
  line-height: 21px;
  color: #222;
}

.item_radio .ico_tistory {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url(//t1.daumcdn.net/tistory_admin/static/top/pcrtn/img_top_200910.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: -60px 0
}

.item_radio .inp_radio:checked+.lab_radio .ico_tistory {
  background-position: -60px -20px
}

.pop_footer {
  display: flex;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.pop_footer .btn_close {
  display: block;
  width: 66px;
  height: 31px;
  font-size: 14px;
  line-height: 27px;
  color: #222;
  border: 1px solid #d8d8d8;
  border-radius: 31px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

.pop_footer .btn_ok {
  width: 66px;
  height: 31px;
  margin-left: 8px;
  font-size: 14px;
  line-height: 27px;
  color: #fff;
  border: 1px solid #000;
  border-radius: 31px;
  box-sizing: border-box;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}

div[contenteditable="true"]:focus {
  outline: none;
}
.tt-cmt {
  white-space: pre-wrap;
  word-break: break-all;
  cursor: text;
}
.tt-box-textarea .tt-cmt[contenteditable=true]:empty::before {
  content: attr(placeholder);
  display: block;
  color: #b1b1b1;
}
.tt-comment-highlight {
  background-color: rgb(255, 255, 68);
  animation: blink 0.6s 3 forwards;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}